 # Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints


# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
*.joblib
